<template>
	<div class="game">
		<h2>Spyfall</h2>

		<div class="users">
			<div
				class="user alert alert-secondary"
				v-for="user in game.users"
				:key="user.index"
			>
				{{ user.user_name }}
			</div>
		</div>

		<div class="card" v-if="gameIsStarted()">
			<p>
				Локация:
				{{ getCard.location ? getCard.location : "Неизвестно" }}
			</p>
			<p>Роль: {{ getCard.role }}</p>
		</div>
		<div class="locations">
			<span class="alert alert-success locations-header">Локации</span>
			<ul>
				<li
					v-for="location in game.locations"
					:key="location.index"
					class="location"
				>
					{{ location }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	props: ["game"],
	data() {
		return {
			card: "test"
		};
	},
	computed: {
		...mapGetters(["getUser"]),

		getCard: function() {
			let updatedCard = "";
			this.game.logic._game.forEach(element => {
				console.log(element.user.user_id);
				if (element.user.user_id === this.getUser.user_id) {
					if (element.spy) {
						console.log("t");
						updatedCard = {
							location: "",
							role: "Вы шпион"
						};
					} else {
						updatedCard = {
							location: element.location,
							role: element.role
						};
					}
				}
			});
			return updatedCard;
		}
	},
	methods: {
		...mapActions(["startTheGame", "leaveTheGame"]),
		getGameId() {
			return this.game.game_id;
		},

		gameIsStarted() {
			return this.game.started;
		},

		getGameLogic() {
			return this.game.logic._game;
		},

		getGameUsers() {
			return this.game.logic.getUsers();
		},

		start() {
			this.startTheGame(this.getGameId());
		}
	}
};
</script>

<style lang="stylus" scoped>
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user {
	display: inline-block;
	padding: 0 15px;
	font-weight: bold;
}

.card {
	padding: 10px;
	margin: 25px;
	font-weight: bold;
	margin-top: 25px;
	background-color: #F4D35E;
	width: 200px;
}

.locations {
	font-weight: bold;
}

.locations-header {
	display: block;
}

.locations ul {
	padding: 0;
	list-style-type: none;
}
</style>