<template>
	<div class="game">
		<h2>WhoAmI game</h2>
		<ul v-if="game.started">
			<li v-for="item in getGameLogic()" :key="item.index">
				<div class="game-item">
					<div class="user">{{ item.user.user_name }}</div>
					<div
						v-if="item.target.user_id !== getTarget().user_id"
						class="target-text"
					>
						{{ item.target_text }}
					</div>
				</div>
				<div
					class="input-badge"
					v-if="getTarget().user_id === item.user.user_id && !sended"
				>
					<input type="text" v-model="target_badge" />
					<button @click="saveBadge">Save</button>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
	props: ["game"],
	data() {
		return {
			target_badge: "",
			badge_text: "",
			target_id: "",
			badget_sended: false,
			sended: false
		};
	},
	created() {
		this.$store.state.io.on("update game", game => {
			console.log(game);
			this.game.logic._game = game;
		});
	},
	computed: {
		...mapGetters(["getUser"])
	},
	methods: {
		...mapActions(["startTheGame", "addBadgeToUser"]),
		getGameId() {
			return this.game.game_id;
		},
		getGameLogic() {
			return this.game.logic._game;
		},
		getGameUsers() {
			return this.game.logic.getUsers();
		},
		getTarget() {
			for (let item of this.getGameLogic()) {
				if (JSON.stringify(item.user) === JSON.stringify(this.getUser))
					return item.target;
			}
		},
		gameIsStarted() {
			return this.game.started;
		},
		saveBadge() {
			this.addBadgeToUser({
				target_id: this.getTarget().user_id,
				badge_text: this.target_badge
			});
			this.sended = true;
		}
	}
};
</script>

<style lang="stylus" scoped>
.game-item {
	display: flex;
	flex-direction: row;
}

.game {
	background-color: #87E752;
	display: block;
}

.game ul {
	list-style-type: none;
}

.game ul li {
	display: flex;
}

.input-badge {
	padding: 10px;
}

.user {
	padding: 10px;
	font-weight: bold;
}

.target-text {
	padding: 10px;
	background-color: #FF8C61;
	border-radius: 15px;
	font-weight: bold;
}
</style>