<template>
	<div class="chat">
		<h2 class="title">Chat</h2>
		<div class="users">
			<ul>
				<h4>Online:</h4>
				<li v-for="user in getUsers" :key="user.index" class="user">{{user.user_name}}</li>
			</ul>
		</div>
		<ul class="chat-field">
			<li class="message" v-for="message in getAllMessages" :key="message.index">
				<span class="user-name">{{message.user.user_name}}</span>
				: {{message.message}}
			</li>
		</ul>
		<div class="controlls">
			<input class="message_input" type="text" v-model="message" />
			<button @click="send">Send</button>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	data() {
		return {
			message: ""
		};
	},
	computed: {
		...mapGetters(["getAllMessages", "getUsers"])
	},
	mounted() {
		this.$store.state.io.on("user connected", usersOnline => {
			this.addUsersToChat(usersOnline);
		});
		this.$store.state.io.on("user logged", user => {
			this.addUserToChat(user);
		});
		this.$store.state.io.on("user logged out", user => {
			this.reomoveUserFromChat(user);
		});
		this.$store.state.io.on("add message", data => {
			this.addMessageToChat(data);
		});
	},
	methods: {
		...mapActions([
			"sendMessage",
			"addUserToChat",
			"addUsersToChat",
			"reomoveUserFromChat",
			"addMessageToChat"
		]),
		send() {
			this.sendMessage(this.message);
			console.log(this.getUsers);
		}
	}
};
</script>

<style lang="stylus" scoped>
.chat {
	height: 100%;
}

.title {
	margin: 40px 0 10px 0;
}

.chat ul {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.users {
}

.users ul {
	border-radius: 10px 10px 0 0;
	list-style-type: none;
}

.users ul li {
	display: inline-block;
	padding: 5px;
}

.chat-field {
	height: 250px;
	overflow-y: scroll;
}

.user-name {
	font-weight: bold;
}

.message {
	margin: 0;
	list-style-type: none;
	text-align: left;
	padding: 5px 5px 5px 15px;
}

.message:nth-child(odd) {
	background-color: #70EE9C;
}

.controlls {
	display: flex;
}

.message_input {
	width: 100%;
}
</style>