<template>
	<div class="games">
		<div class="create-game">
			<select class="create-game-select" v-model="selected">
				<option disabled value>Выберите игру</option>
				<option value="whoami">Пятница</option>
				<option value="spyfall">Находка для шпиона</option>
			</select>
			<button class="create-game-button" @click="create">Create a game</button>
		</div>
		<div class="games-list">
			<table class="table table-striped games-table">
				<thead>
					<tr>
						<th scope="col">Game name</th>
						<th scope="col">Creator</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="game in games" :key="game.index">
						<td>{{game.game_name}}</td>
						<td>{{game.creator.user_name}}</td>
						<td>
							<button v-if="!joined && !game.started" @click="join(game.game_id)">Join</button>
							<button v-if="canDeleteGame(game.creator)" @click="deleteGame(game.game_id)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div v-if="game" class="game-field">
			<Whoami v-if="game_name === 'whoami'" :game="game"></Whoami>
			<Spyfall v-if="game_name === 'spyfall'" :game="game"></Spyfall>
		</div>
		<div v-if="joined" class="buttons">
			<button v-if="!gameIsStarted()" @click="start">Start</button>
			<button @click="leave">Leave</button>
		</div>
	</div>
</template>

<script>
import Whoami from "./games/whoami";
import Spyfall from "./games/spyfall";

import { mapActions, mapGetters } from "vuex";
export default {
	data() {
		return {
			selected: "whoami",
			games: [],
			joined: false,
			game: null,
			game_name: null,
			game_id: null
		};
	},
	components: {
		Whoami,
		Spyfall
	},
	computed: {
		...mapGetters(["getUser"])
	},
	created() {
		this.$store.state.io.on("add game to list", game => {
			this.games.push(game);
		});
		this.$store.state.io.on("add user to game", (game, games) => {
			this.game = game;
			this.game_name = game.game_name;

			this.games = games;
		});

		this.$store.state.io.on("leave the game", () => {
			this.game = null;
		});

		this.$store.state.io.on("start game", game => {
			this.game = game;
		});
		this.$store.state.io.on("update games", games => {
			this.games = games;
		});
		this.$store.state.io.on("update game", game => {
			this.game = game;
			if (!this.containsObject(this.getUser, this.game.users)) {
				this.game = null;
				this.joined = false;
			}
		});
		this.$store.state.io.on("remove game", games => {
			this.game = null;
		});
		this.$store.state.io.on("user connected", (users, games) => {
			this.games = games;
			for (let game of games) {
				if (this.containsObject(this.getUser, game.users)) {
					console.log(game);
					this.game = game;
					this.game_name = game.game_name;
				}
			}
		});
	},

	methods: {
		...mapActions([
			"createGame",
			"joinToGame",
			"startTheGame",
			"deleteTheGame",
			"leaveTheGame"
		]),
		create() {
			this.createGame(this.selected);
		},
		join(game_id) {
			this.joinToGame(game_id);
			this.game_id = game_id;
			this.joined = true;
		},
		canDeleteGame(creator) {
			if (this.getUser.user_id === creator.user_id) return true;
			return false;
		},
		deleteGame(game_id) {
			this.deleteTheGame(game_id);
			this.joined = false;
		},
		containsObject(obj, list) {
			for (let item of list) {
				if (JSON.stringify(item) === JSON.stringify(obj)) return true;
			}
			return false;
		},
		gameIsStarted() {
			if (this.game) return this.game.started;
			return false;
		},
		start() {
			this.startTheGame(this.game_id);
		},
		leave() {
			this.leaveTheGame(this.game_id);
			this.joined = false;
		}
	}
};
</script>

<style lang="stylus" scoped>
.games-list {
	min-height: 200px;
	margin-bottom: 25px;
	background-color: #6184D8;
}

.games-list ul {
	padding: 0;
}

.games-table {
	color: #fff;
}

.game-field {
	min-height: 200px;
	background-color: #82DDF0;
}

.create-game {
	margin: 50px 0 25px 0;
}

.create-game-select {
	padding: 5px;
}

.create-game-button {
	margin: 0 20px;
}
</style>