<template>
	<div class="auth">
		<div v-if="!isLogged" class="login">
			<h3>Login</h3>
			<input name="name" v-model="name" />
			<button @click="login">Save</button>
		</div>
		<div v-else-if="isLogged">
			<h2>Your name: {{ getUser.user_name }}. With id: {{ getUser.user_id }}</h2>
			<button @click="logout">Logout</button>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
	props: ["user"],
	data() {
		return {
			name: ""
		};
	},
	computed: {
		...mapGetters(["getUser", "isLogged"])
	},
	methods: {
		...mapActions(["addUser", "logout", "addUserToChat"]),

		login() {
			this.addUser(this.name);
		}
	},
	watch: {
		//this.isLogged
	}
};
</script>