<template>
	<div id="app">
		<div class="container">
			<Login></Login>
			<div class="row">
				<Games class="col-md-7 col-12"></Games>
				<Chat class="offset-md-1 col-md-4 col-12"></Chat>
			</div>
		</div>
	</div>
</template>

<script>
import Login from "./components/Login";
import Chat from "./components/Chat";
import Games from "./components/Games";

import { mapGetters, mapActions } from "vuex";
export default {
	name: "app",
	data() {
		return {};
	},
	components: {
		Login,
		Chat,
		Games
	},
	computed: {
		...mapGetters(["userName", "isLogged", "getUser"])
	},
	created() {
		if (this.isLogged)
			this.$store.state.io.emit("already logged", this.getUser);
	},

	methods: {}
};
</script>

<style>
#app {
	width: 100%;
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
